<h1><%= "All Discounts" %></h1>
<% @discounts.each do |discount| %>
  <section id = "discount-<%=discount.id%>">
    <%= "Discount: #{discount.percent_discount.round}%"%>
    <% if discount.minimum_quantity %>
      <%= "Minimum Quantity: #{discount.minimum_quantity}"%>
    <% end %>
    <% if discount.minimum_value %>
      <%= "Minimum Value: #{number_to_currency(discount.minimum_value)}"%>
    <% end %>
    <%= "Applicable Items: #{discount.items_list}"%>
    <%= link_to "Edit Discount", "/merchant/discounts/#{discount.id}/edit" %>
</section>
<% end %>
